{% extends 'base.html' %}
{% load static %}
{% block content %}
			<main class="content">
				<div class="container-fluid p-0">
					<div class="row">
						<div class="col-12 col-xl-12">
							<div class="card">
								<div class="card">
                            <div style="display:flex">
                                <div style="width:45%" class="card-header">
                                    <h5 class="card-title">Question List</h5>
                                    <h6 class="card-subtitle text-muted">Highly flexible tool that many advanced features to any HTML table.</h6>
                            </div>
                            <div style="display:flex;flex-direction: column;align-items: center;justify-content: center;width:100%;align-items: flex-end;">
                                <a style="margin-right:3%" class="btn btn-primary" href="{% url 'question' %}" role="button">Create</a>
                            </div>
                        </div>
								<div class="card-body">
									<table id="datatables-basic" class="table table-striped" style="width:100%">
										<thead>
											<tr>
												<th>Direction</th>
												<th>Question</th>
												<th>Answer a</th>
												<th>Answer b</th>
												<th>Answer c</th>
												<th>Answer d</th>
												<th>Answer Correct</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
										{% for i in question %}
											<tr>
												<td><a href="{% url 'edit' i.id %}"><strong><em>{{i.direction.name}}</em></strong></a></td>
												<td><a href="{% url 'edit' i.id %}"><strong><em>{{ i.question|slice:":15"|safe }}</em></strong></a></td>
												<td><a href="{% url 'edit' i.id %}"><strong><em>{{ i.answer_a|slice:":15"|safe }}</em></strong></a></td>
												<td><a href="{% url 'edit' i.id %}"><strong><em>{{ i.answer_b|slice:":15"|safe }}</em></strong></a></td>
												<td><a href="{% url 'edit' i.id %}"><strong><em>{{ i.answer_c|slice:":15"|safe }}</em></strong></a></td>
												<td><a href="{% url 'edit' i.id %}"><strong><em>{{ i.answer_d|slice:":15"|safe }}</em></strong></a></td>
												<td><a href="{% url 'edit' i.id %}"><strong><em>{{ i.answer_correct }}</em></strong></a></td>
											</tr>
										{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>

{% endblock content %}
{% block js %}
<script src="js/app.js"></script>
	 <script>
			$(function() {
				// Datatables basic
				$("#datatables-basic").DataTable({
					responsive: true
				});
				// Datatables with Buttons
				var datatablesButtons = $("#datatables-buttons").DataTable({
					responsive: true,
					lengthChange: !1,
					buttons: ["copy", "print"]
				});
				datatablesButtons.buttons().container().appendTo("#datatables-buttons_wrapper .col-md-6:eq(0)");
				// Datatables with Multiselect
				var datatablesMulti = $("#datatables-multi").DataTable({
					responsive: true,
					select: {
						style: "multi"
					}
				});
			});
		</script>
{% endblock js %}
